*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    width: 95%;
    height: 95%;
}

body,
.container {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-flow: column;
}

.rowContainer {
    display: flex;
    flex: 1;
}

.square {
    flex: 1;
    padding: 10px;
    border: 2px solid lightgrey;
}

.square:hover {
    background-color: orange;
    border: 2px solid black;
}
